* {
    padding: 0;
    margin: 0;
    list-style: none;
}

/* Página Index y comandos generales */
body{
    background-image: url(../resource/fondogolosinas.jpg);
    background-size: contain;
}

/* Menú de Navegación */
/* Nav Bootstrap */
.navbar-brand{
    display: flex;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.navbar-collapse{
    display: flex;
    justify-content: flex-end;
}
.nav-item{
    border: black solid 3px;
    margin: 5px;
    text-decoration: none;
    border-radius: 5px;
    color: black;
    background-color: #b65c02;
    padding: 3px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.nav-item:hover{
    color: #4b3400;
}
.dropdown-menu{
    background-color: #ffc548;
}
.dropdown-item:hover{
    background-color: #ff9800;
}

/* Nav CSS */
.logo{
    height: 3.5cm;
    width: 3.5cm;
    border: 3.5px solid black;
    border-radius: 10px;
}
nav{
    background-image: linear-gradient(to right, #712300, #b65c02, #ff9800, #ffc548);
}
.navP{
    margin: 0px 0px 0px 5px;
}
header{
    margin: 0px 0px 30px 0px;
    border-bottom: #4b3400 dashed 3px;
}

/* Título */
.divH1{
    display: flex;
    justify-content: center;
    background-color: #ff9800;
    width: 30cm;
    border-radius: 7px;
    border: 4px solid #b65c02;
    margin: 10px 4cm;
    align-items: baseline;
}
h1{
    font-family: "Montserrat";
    display: flex;
    justify-content: center;
    font-size: 2.8cm;
    font-weight:bolder;
    margin: 15px;
}

/* Carousel */
.carusel{
    display: flex;
    flex-direction: row;
    justify-content: center;
    }
.fotosBanner{
    border: 5px solid #712300;
    border-radius: 20px;
}
.banner{
    border-radius: 20px;
}

/* Novedades de productos */
/* Producto 1 */
.sectionIndex{
    display: flex;
    flex-direction: row;
    background-color: #ffcc50;
    width: 95%;
    margin: 30px 20px 30px 30px;
    border-radius: 10px;
    border: 5px solid #ff9800;
}
.div1{
    display: flex;
    flex-direction: column;
    margin: 20px;
}
.div2{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    background-color: #ffc548;
    border-radius: 10px;
    border: 3px solid #ff9800;
}
.div3{
    display: flex;
    flex-direction: column;
    margin: 20px;
}
.psandias{
    display: flex;
    align-items: flex-start;
    margin: 20px;
    font-family: "Montserrat";
}
.sandias{
    width: 500px;
    height: 420px;
}
.carrito{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.estrellasIndex{
    height: 60%;
    width: 60%;
}
.compra{
    height: 20%;
    width: 30%;
}
h2{
    font-family: "Montserrat";
    display: flex;
    justify-content: flex-start;
    font: bold;
}

/* Producto 2 */
.pmilka{
    display: flex;
    align-items: flex-start;
    margin: 20px;
    font-family: "Montserrat";
}
.milkaoreo{
    width: 500px;
    height: 420px;
}

/* Publicidad */
.aside{
    display: flex;
    justify-content: center;
    margin: 15px;
}
.imgAside{
    width: 60%;
    height: 2%;
    border: solid #b65c02;
    border-radius: 10px;
}
/* Footer */
footer{
    color: white;
    font-size: 10px;
    display:flex;
    flex-direction: row-reverse;
    justify-content: left;
    border-top: solid black;
    background-image: linear-gradient(to right, #712300, #b65c02, #ff9800, #ffc548);
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-youtube{
    background: red;
    color: white;
}
.fa-instagram{
    background-color: darkblue;
    color: white;
}
.redesSociales{
    background-color: #ffff89;
}
.copyright{
    display: flex;
    margin-left: 20px;
    align-items: center;
    color: black;
}

/* Página Ranking */

/* Tabla */
table{
    display: flex;
    border: 5px solid #712300;
    border-radius: 10px;
    margin: 30px 5.8cm 30px 5cm;
    background-color: #ffc548;
    padding: 10px;
    font-family: "Montserrat";
}
.tabla{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-collapse: collapse;
}
td{
    border: solid black;
    padding: 5px;
}
th{
    border: solid black;
    padding: 5px;
}

/* Top 1*/
.divTop1{
    display: flex;
    font-family: "Montserrat";
    background-color:#ffc548;
    border:#b65c02 4px solid;
    border-radius: 35px;
    margin: 30px 2cm 30px 10cm;
    padding: 15px;
    flex-direction: column;
    width: 40%;
}
.imgPalitos{
    width: 70%;
    height: 70%;
    background-color: #ffc548;
    border: solid #ff9800 3px;
    border-radius: 70px;
    transition: height 2s, width 2s;
    margin-top: 10px;
}
.imgPalitos:hover{
    height: 100%;
    width: 100%;
}

/* Explicación */
.h3Rank{
    font-size: x-large;
    margin: 0px 0px 10px 0px;
}
.divExplicacion{
    display: flex;
    font-family: "Montserrat";
    background-color:#ff9800;
    border:#712300 4px solid;
    border-radius: 35px;
    margin: 30px 5.8cm 30px 5cm;
    padding: 15px;
    flex-direction: column;
}
.divPexplicacion{
    display: flex;
    flex-direction: column;
    line-height: 25px;
}

/* Compra en Ranking */
.divCanvas{
    background-color: #ff9800;
    width: 60%;
    height: 4cm;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 20px 20px 20px 7.6cm;
    border: #b65c02 solid 3px;
    border-radius: 20px;
}
.botonCompra{
    width: 20%;
    height: 10%;
    margin: 10px;
}

/* Publicidad */
.fifa{
    width: 60%;
    height: 3%;
    border: solid #b65c02;
    border-radius: 10px;
}

/* Página Compras */
.card-columns{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

/* Compra */
.card{
    background-color: #ffc548;
    border: #ff9800 solid 3px;
    border-radius: 10px;
    margin: 12px 10px 12px 30px;
    height:max-content;
    width: 30%;
}
.card-img-top{
    width: 40%;
    height: 20%;
    padding: 10px 10px 10px 15px;
}
.card-title{
    font-family: "Montserrat";
}
.card-text{
    font-family: "Montserrat";
}
.list-group-item{
    background-color: #ffc548;
    font-size: larger;
}
.botonCompra{
    width: 40%;
}
.estrellas{
    padding: 2px 5px 2px 5px;
    width: 40%;
    height: 40%;
}

/* Publicidad */
.itemAside{
    display: flex;
    justify-content: center;
}
.fender{
    border: 7px solid #712300;
    border-radius: 20px;
    margin: 30px 10px 10px 10px;
    height: 20%;
    width: 50%;
}

/* Página Novedades */
/* Grid - Página de Novedades */
.divNovedades{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
    "video1 video1"
    "nov1 nov2"
    "video2 video2"
    "nov3 nov4"
    ;
}
.itemVideo1{
    grid-area: video1;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #ffc548;
    border: #b65c02 solid 5px;
    border-radius: 20px;
    padding: 10px;
    margin: 20px 10px 20px 3.6cm;
    width: 80%;
}
.itemNov1{
    grid-area: nov1;
    background-color: #ffc548;
    opacity: 0.93;
    border: #b65c02 solid 5px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 90%;
    padding: 15px;
    margin: 10px 10px 10px 2.2cm;
}
.itemNov2{
    grid-area: nov2;
    background-color: #ffc548;
    opacity: 0.93;
    border: #b65c02 solid 5px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 90%;
    padding: 15px;
    margin: 10px 2cm 10px 0.6cm;
}
.itemVideo2{
    grid-area: video2;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #ffc548;
    border: #b65c02 solid 5px;
    border-radius: 20px;
    padding: 10px;
    margin: 20px 10px 20px 3.6cm;
    width: 80%;
}
.itemNov3{
    grid-area: nov3;
    background-color: #ffc548;
    opacity: 0.93;
    border: #b65c02 solid 5px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 90%;
    padding: 15px;
    margin: 10px 10px 10px 2.2cm;
}
.itemNov4{
    grid-area: nov4;
    background-color: #ffc548;
    opacity: 0.93;
    border: #b65c02 solid 5px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 90%;
    padding: 15px;
    margin: 10px 50px 10px 0.6cm;
}
.h2Nov{
    font-family: "Montserrat";
    font: bold;
    font-size: xx-large;
}
.pNov{
    font-family: "Montserrat";
    font-size: x-large;
    font-style: oblique;
    text-decoration: underline;
    margin: 5px;
}
.videoNov{
    width: 800px;
    height: 430px;
    margin: 10px;
}
.h3Nov{
    font-family: "Montserrat";
    font-size: x-large;
    text-decoration: underline wavy;
    margin: 15px;
    display: flex;
    justify-content: center;
}
.imgNov{
    width: 50%;
    height: 30%;
    display: flex;
    align-items: center;
    animation-name: golosina;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes golosina {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/* Compra Falsa */
.compraFalsa{
    background-color: #ffc548;
    width: 60%;
    height: 80%;
    margin: 20px 20px 20px 7.3cm;
    border: #b65c02 solid 3px;
    border-radius: 20px;
    padding: 15px;
    display: flex;
    align-items:center;
    flex-direction: column;
}
.btn{
    width: 30%;
}

/* Publicidad */
.netflix{
    width: 65%;
    height: 6.5cm;
    border: solid #712300 5px;
    border-radius: 10px;
    margin: 15px 0.7cm 20px 10px;
}

/* Página Contacto */
.formularioContacto{
    width: 100%;
    display: flex;
    justify-content: center;
}
.formulario{
    border: 4px solid #712300;
    border-radius: 10px;
    padding: 2%;
    margin: 1%;
    background-color: #ffc548;
    width: 80%;
}
.btnForm{
    border: #b65c02 solid 2px;
}
.boton{
    padding: 1px;
    width: 8.5%;
    margin-left: 1%;
}
.divFinal{
    background-color: #ffc548;
    border: #712300 solid 3px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    margin: 20px 20px 20px 3.8cm;
    width: 80%;
    height: 5cm;
}

/* MEDIA QUERIES*/

/* MEDIA 320px */

@media screen and (max-width: 320px){
    /* Página INDEX y comandos generales */
    body{
        background-size:cover;
    }
    .nav-item{
        margin: 5px;
        border-radius: 5px;
        padding: 3px;
    }
    
    /* Nav CSS */
    .logo{
        height: 5cm;
        width: 5cm;
        margin: 5px;
    }
    .navP{
        font-size: larger;
    }
    header{
        margin: 0px 0px 30px 0px;
        width: 34cm;
    }
    
    /* Título */
    .divH1{
        width: 30cm;
        border-radius: 7px;
        border: 4px solid #b65c02;
        margin: 20px 70px;
    }
    
    /* Carousel */
    .carusel{
        margin: 30px 17cm;
        }
    
    /* Novedades de productos */
    .sectionIndex{
        width: 30cm;
        margin: 40px 2cm;
    }
    
    /* Publicidad */
    .aside{
        margin: 20px 2.7cm;
        width: 30cm;
    }
    /* Footer */
    footer{
        font-size: 15px;
        width: 34cm;
    }

    /* Página RANKING */
    /* Tabla */
    table{
        margin: 40px 20px 40px 3.4cm;
        padding: 10px;
        width: 27cm;
    }

    /* Top 1*/
    .divTop1{
        margin: 40px 2cm 40px 9cm;
        padding: 20px;
        width: 15cm;
    }

    /* Explicación */
    .divExplicacion{
        margin: 40px 20px 40px 7cm;
        padding: 20px;
        width: 20cm;
    }

    /* Compra en Ranking */
    .divCanvas{
        width: 20cm;
        margin: 30px 20px 40px 7cm;
    }
    .botonCompra{
        width: 20%;
        height: 10%;
        margin: 10px;
    }

    /* Página COMPRAS */
    /* Compra */
    .card{
        margin: 30px 12px;
        width: max-content;
    }
    .card-img-top{
        width: 5cm;
        height: 20%;
    }
    .botonCompra{
        width: 70%;
    }
    .estrellas{
        width: 50%;
        height: 50%;
    }

    /* Publicidad */
    .fender{
        margin: 40px 20px 40px 15cm;
        height: 5cm;
        width: 20cm;
    }

    /* Página NOVEDADES */
    .itemVideo1{
        padding: 15px;
        margin: 20px 10px 30px 4.5cm;
        width: 25cm;
        height: max-content;
    }
    .itemNov1{
        width: 14cm;
        padding: 15px;
        margin: 10px 10px 10px 2cm;
    }
    .itemNov2{
        width: 14cm;
        padding: 15px;
        margin: 10px 2cm 10px 14cm;
    }
    .itemVideo2{
        padding: 15px;
        margin: 10px 10px 30px 4.5cm;
        width: 25cm;
        height: max-content;
    }
    .itemNov3{
        width: 14cm;
        padding: 15px;
        margin: 10px 10px 10px 2cm;
    }
    .itemNov4{
        width: 14cm;
        padding: 15px;
        margin: 10px 2cm 10px 14cm;
    }
    /* Compra Falsa */
    .compraFalsa{
        width: 20cm;
        height: 4cm;
    }

    /* Página CONTACTO */
    .formularioContacto{
        width: 30cm;
    }
    .formulario{
        width: 30cm;
        margin: 20px 20px 20px 4cm;
    }
    .divFinal{
        margin: 20px 20px 20px 7cm;
        width: 20cm;
        height: 5cm;
    }
}

/* MEDIA 320px a 539px*/

@media screen and (max-width: 539px){
    /* Página INDEX y comandos generales */
    body{
        background-size:cover;
    }
    .nav-item{
        margin: 5px;
        border-radius: 5px;
        padding: 3px;
    }
    
    /* Nav CSS */
    .logo{
        height: 5cm;
        width: 5cm;
        margin: 5px;
    }
    .navP{
        font-size: larger;
    }
    header{
        margin: 0px 0px 30px 0px;
        width: 34cm;
    }
    
    /* Título */
    .divH1{
        width: 30cm;
        border-radius: 7px;
        border: 4px solid #b65c02;
        margin: 20px 70px;
    }
    
    /* Carousel */
    .carusel{
        margin: 30px 17cm;
        }
    
    /* Novedades de productos */
    .sectionIndex{
        width: 30cm;
        margin: 40px 2cm;
    }
    
    /* Publicidad */
    .aside{
        margin: 20px 2.7cm;
        width: 30cm;
    }
    /* Footer */
    footer{
        font-size: 15px;
        width: 34cm;
    }

    /* Página RANKING */
    /* Tabla */
    table{
        margin: 40px 20px 40px 3.4cm;
        padding: 10px;
        width: 27cm;
    }

    /* Top 1*/
    .divTop1{
        margin: 40px 2cm 40px 9cm;
        padding: 20px;
        width: 15cm;
    }

    /* Explicación */
    .divExplicacion{
        margin: 40px 20px 40px 7cm;
        padding: 20px;
        width: 20cm;
    }

    /* Compra en Ranking */
    .divCanvas{
        width: 20cm;
        margin: 30px 20px 40px 7cm;
    }
    .botonCompra{
        width: 20%;
        height: 10%;
        margin: 10px;
    }

    /* Página COMPRAS */
    /* Compra */
    .card{
        margin: 12px 10px 12px 30px;
        width: max-content;
    }
    .card-img-top{
        width: 5cm;
        height: 20%;
    }
    .botonCompra{
        width: 70%;
    }
    .estrellas{
        width: 50%;
        height: 50%;
    }

    /* Publicidad */
    .fender{
        margin: 40px 20px 40px 15cm;
        height: 5cm;
        width: 20cm;
    }

    /* Página NOVEDADES */
    .itemVideo1{
        padding: 15px;
        margin: 20px 10px 30px 4.5cm;
        width: 25cm;
        height: max-content;
    }
    .itemNov1{
        width: 14cm;
        padding: 15px;
        margin: 10px 10px 10px 2cm;
    }
    .itemNov2{
        width: 14cm;
        padding: 15px;
        margin: 10px 2cm 10px 11cm;
    }
    .itemVideo2{
        padding: 15px;
        margin: 10px 10px 30px 4.5cm;
        width: 25cm;
        height: max-content;
    }
    .itemNov3{
        width: 14cm;
        padding: 15px;
        margin: 10px 10px 10px 2cm;
    }
    .itemNov4{
        width: 14cm;
        padding: 15px;
        margin: 10px 2cm 10px 11cm;
    }
    /* Compra Falsa */
    .compraFalsa{
        width: 20cm;
        height: 4cm;
    }

    /* Página CONTACTO */
    .formularioContacto{
        width: 30cm;
    }
    .formulario{
        width: 30cm;
        margin: 20px 20px 20px 4cm;
    }
    .divFinal{
        margin: 20px 20px 20px 7cm;
        width: 20cm;
        height: 5cm;
    }
}

/* MEDIA 540px a 760px*/

@media screen and (max-width: 760px){
    /* Página INDEX y comandos generales */
    body{
        background-size:cover;
    }
    .nav-item{
        margin: 5px;
        border-radius: 5px;
        padding: 3px;
    }
    
    /* Nav CSS */
    .logo{
        height: 5cm;
        width: 5cm;
        margin: 5px;
    }
    .navP{
        font-size: larger;
    }
    header{
        margin: 0px 0px 30px 0px;
        width: 34cm;
    }
    
    /* Título */
    .divH1{
        width: 30cm;
        border-radius: 7px;
        border: 4px solid #b65c02;
        margin: 20px 70px;
    }
    
    /* Carousel */
    .carusel{
        margin: 30px 17cm;
        }
    
    /* Novedades de productos */
    .sectionIndex{
        width: 30cm;
        margin: 40px 2cm;
    }
    
    /* Publicidad */
    .aside{
        margin: 20px 2.7cm;
        width: 30cm;
    }
    /* Footer */
    footer{
        font-size: 15px;
        width: 34cm;
    }

    /* Página RANKING */
    /* Tabla */
    table{
        margin: 40px 20px 40px 3.4cm;
        padding: 10px;
        width: 27cm;
    }

    /* Top 1*/
    .divTop1{
        margin: 40px 2cm 40px 9cm;
        padding: 20px;
        width: 15cm;
    }

    /* Explicación */
    .divExplicacion{
        margin: 40px 20px 40px 7cm;
        padding: 20px;
        width: 20cm;
    }

    /* Compra en Ranking */
    .divCanvas{
        width: 20cm;
        margin: 30px 20px 40px 7cm;
    }
    .botonCompra{
        width: 20%;
        height: 10%;
        margin: 10px;
    }

    /* Página COMPRAS */
    /* Compra */
    .card{
        margin: 12px 10px 12px 30px;
        width: max-content;
    }
    .card-img-top{
        width: 5cm;
        height: 20%;
    }
    .botonCompra{
        width: 70%;
    }
    .estrellas{
        width: 50%;
        height: 50%;
    }

    /* Publicidad */
    .fender{
        margin: 40px 20px 40px 15cm;
        height: 5cm;
        width: 20cm;
    }

    /* Página NOVEDADES */
    .itemVideo1{
        padding: 15px;
        margin: 20px 10px 30px 4.5cm;
        width: 25cm;
        height: max-content;
    }
    .itemNov1{
        width: 14cm;
        padding: 15px;
        margin: 10px 10px 10px 2cm;
    }
    .itemNov2{
        width: 14cm;
        padding: 15px;
        margin: 10px 2cm 10px 8cm;
    }
    .itemVideo2{
        padding: 15px;
        margin: 10px 10px 30px 4.5cm;
        width: 25cm;
        height: max-content;
    }
    .itemNov3{
        width: 14cm;
        padding: 15px;
        margin: 10px 10px 10px 2cm;
    }
    .itemNov4{
        width: 14cm;
        padding: 15px;
        margin: 10px 2cm 10px 8cm;
    }
    /* Compra Falsa */
    .compraFalsa{
        width: 20cm;
        height: 4cm;
    }

    /* Página CONTACTO */
    .formularioContacto{
        width: 30cm;
    }
    .formulario{
        width: 30cm;
        margin: 20px 20px 20px 4cm;
    }
    .divFinal{
        margin: 20px 20px 20px 7cm;
        width: 20cm;
        height: 5cm;
    }
}

/* MEDIA 761 a 900*/

@media screen and (max-width: 900px){
    /* Página INDEX y comandos generales */
    body{
        background-size:cover;
    }
    .nav-item{
        margin: 5px;
        border-radius: 5px;
        padding: 3px;
    }
    
    /* Nav CSS */
    .logo{
        height: 5cm;
        width: 5cm;
        margin: 5px;
    }
    .navP{
        font-size: larger;
    }
    header{
        margin: 0px 0px 30px 0px;
        width: 34cm;
    }
    
    /* Título */
    .divH1{
        width: 30cm;
        border-radius: 7px;
        border: 4px solid #b65c02;
        margin: 20px 70px;
    }
    
    /* Carousel */
    .carusel{
        margin: 30px 17cm;
        }
    
    /* Novedades de productos */
    .sectionIndex{
        width: 30cm;
        margin: 40px 2cm;
    }
    
    /* Publicidad */
    .aside{
        margin: 20px 2.7cm;
        width: 30cm;
    }
    /* Footer */
    footer{
        font-size: 15px;
        width: 34cm;
    }

    /* Página RANKING */
    /* Tabla */
    table{
        margin: 40px 20px 40px 3.4cm;
        padding: 10px;
        width: 27cm;
    }

    /* Top 1*/
    .divTop1{
        margin: 40px 2cm 40px 9cm;
        padding: 20px;
        width: 15cm;
    }

    /* Explicación */
    .divExplicacion{
        margin: 40px 20px 40px 7cm;
        padding: 20px;
        width: 20cm;
    }

    /* Compra en Ranking */
    .divCanvas{
        width: 20cm;
        margin: 30px 20px 40px 7cm;
    }
    .botonCompra{
        width: 20%;
        height: 10%;
        margin: 10px;
    }

    /* Página COMPRAS */
    /* Compra */
    .card{
        margin: 12px 10px 12px 30px;
        width: max-content;
    }
    .card-img-top{
        width: 5cm;
        height: 20%;
    }
    .botonCompra{
        width: 70%;
    }
    .estrellas{
        width: 50%;
        height: 50%;
    }

    /* Publicidad */
    .fender{
        margin: 40px 20px 40px 15cm;
        height: 5cm;
        width: 20cm;
    }

    /* Página NOVEDADES */
    .itemVideo1{
        padding: 15px;
        margin: 20px 10px 30px 4.5cm;
        width: 25cm;
        height: max-content;
    }
    .itemNov1{
        width: 14cm;
        padding: 15px;
        margin: 10px 10px 10px 2cm;
    }
    .itemNov2{
        width: 14cm;
        padding: 15px;
        margin: 10px 2cm 10px 6cm;
    }
    .itemVideo2{
        padding: 15px;
        margin: 10px 10px 30px 4.5cm;
        width: 25cm;
        height: max-content;
    }
    .itemNov3{
        width: 14cm;
        padding: 15px;
        margin: 10px 10px 10px 2cm;
    }
    .itemNov4{
        width: 14cm;
        padding: 15px;
        margin: 10px 2cm 10px 6cm;
    }
    /* Compra Falsa */
    .compraFalsa{
        width: 20cm;
        height: 4cm;
    }

    /* Página CONTACTO */
    .formularioContacto{
        width: 30cm;
    }
    .formulario{
        width: 30cm;
        margin: 20px 20px 20px 4cm;
    }
    .divFinal{
        margin: 20px 20px 20px 7cm;
        width: 20cm;
        height: 5cm;
    }
}