* {
    padding: 0;
    margin: 0;
    list-style: none;
}

/* Página Index y comandos generales */
body{
    background-image: url(../resource/fondogolosinas.jpg);
    background-size: contain;
}

/* Menú de Navegación */
/* Nav Bootstrap */
.navbar-brand{
    display: flex;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.navbar-collapse{
    display: flex;
    justify-content: flex-end;
}
.nav-item{
    border: black solid 3px;
    margin: 5px;
    text-decoration: none;
    border-radius: 5px;
    color: black;
    background-color: #b65c02;
    padding: 3px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.nav-item:hover{
    color: #4b3400;
}
.dropdown-menu{
    background-color: #ffc548;
}
.dropdown-item:hover{
    background-color: #ff9800;
}

/* Nav CSS */
.logo{
    height: 3.5cm;
    width: 3.5cm;
    border: 3.5px solid black;
    border-radius: 10px;
}
nav{
    background-image: linear-gradient(to right, #712300, #b65c02, #ff9800, #ffc548);
}
.navP{
    margin: 0px 0px 0px 5px;
}
header{
    margin: 0px 0px 30px 0px;
    border-bottom: #4b3400 dashed 3px;
}

/* Título */
.divTitulo{
    display: flex;
    justify-content: center;
}
.divH1{
    display: flex;
    justify-content: center;
    background-color: #ff9800;
    width: 90%;
    margin: 2%;
    border-radius: 7px;
    border: 4px solid #b65c02;
    align-items: baseline;
}
h1{
    font-family: "Montserrat";
    display: flex;
    justify-content: center;
    font-size: 8vw;
    font-weight:bolder;
    margin: 15px;
}

/* Carousel */
.carusel{
    display: flex;
    flex-direction: row;
    justify-content: center;
    }
.fotosBanner{
    border: 5px solid #712300;
    border-radius: 20px;
}
.banner{
    border-radius: 20px;
}

/* Novedades de productos */
/* Producto 1 */
.sectionIndex{
    display: flex;
    flex-direction: row;
    background-color: #ffcc50;
    width: 95%;
    margin: 2.5%;
    border-radius: 10px;
    border: 5px solid #ff9800;
}
.div1{
    display: flex;
    flex-direction: column;
    margin: 1%;
}
.div2{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 1%;
    background-color: #ffc548;
    border-radius: 10px;
    border: 3px solid #ff9800;
}
.div3{
    display: flex;
    flex-direction: column;
    margin: 1%;
}
.psandias{
    display: flex;
    align-items: flex-start;
    margin: 1%;
    font-family: "Montserrat";
    padding: 1%;
}
.carrito{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.estrellasIndex{
    height: 60%;
    width: 60%;
}
.compra{
    height: 20%;
    width: 30%;
}
h2{
    font-family: "Montserrat";
    display: flex;
    justify-content: flex-start;
    font: bold;
}

/* Producto 2 */
.pmilka{
    display: flex;
    align-items: flex-start;
    margin: 1%;
    font-family: "Montserrat";
    padding: 1%;
}

/* Publicidad */
.aside{
    display: flex;
    justify-content: center;
    margin: 2%;
}
.imgAside{
    width: 60%;
    height: 2%;
    border: solid #b65c02;
    border-radius: 10px;
}
/* Footer */
footer{
    color: white;
    font-size: 10px;
    display:flex;
    flex-direction: row-reverse;
    justify-content: left;
    border-top: solid black;
    background-image: linear-gradient(to right, #712300, #b65c02, #ff9800, #ffc548);
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-youtube{
    background: red;
    color: white;
}
.fa-instagram{
    background-color: darkblue;
    color: white;
}
.redesSociales{
    background-color: #ffff89;
}
.copyright{
    display: flex;
    margin-left: 20px;
    align-items: center;
    color: black;
}

/* Página Ranking */

/* Tabla */
.divPadretabla{
    width: 100%;
    display: flex;
    justify-content: center;
}
.divTabla{
    display: flex;
    justify-content: center;
    width:fit-content;
    padding: 1%;
}
table{
    display: flex;
    justify-content: center;
    border: 5px solid #712300;
    border-radius: 10px;
    margin: 3%;
    background-color: #ffc548;
    padding: 10px;
    font-family: "Montserrat";
}
.tabla{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-collapse: collapse;
}
td{
    border: solid black;
    padding: 1%;
}
th{
    border: solid black;
    padding: 1%;
}
.thTamaño{
    width: 10vw;
    padding: 0% 1% 0% 1%;
}

/* Top 1*/
.divPadretop1{
    width: 100%;
    display: flex;
    justify-content: center;
}
.divTop1{
    display: flex;
    justify-content: center;
    font-family: "Montserrat";
    background-color:#ffc548;
    border:#712300 4px solid;
    border-radius: 35px;
    margin: 2%;
    padding: 1%;
    flex-direction: column;
    width: 40%;
}
.divPalitos{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imgPalitos{
    width: 70%;
    height: 70%;
    background-color: #ffc548;
    border: solid #b65c02 3px;
    border-radius: 70px;
    transition: height 2s, width 2s;
    margin-top: 2%;
}
.imgPalitos:hover{
    height: 90%;
    width: 90%;
}

/* Explicación */
.divPadreexplicacion{
    width: 100%;
    display: flex;
    justify-content: center;
}
.h3Rank{
    font-size: x-large;
    margin-bottom: 2%;
}
.divExplicacion{
    display: flex;
    justify-content: center;
    font-family: "Montserrat";
    background-color:#ff9800;
    border:#b65c02 4px solid;
    border-radius: 35px;
    width: 65%;
    margin: 1%;
    padding: 2%;
    flex-direction: column;
}
.divPexplicacion{
    display: flex;
    flex-direction: column;
    line-height: 1.5vw;
}

/* Más información */
.divPadrecanvas{
    width: 100%;
    display: flex;
    justify-content: center;
}
.divCanvas{
    background-color: #ff9800;
    width: 60%;
    height: 9vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 1%;
    border: #b65c02 solid 3px;
    border-radius: 20px;
}
.h5Canvas{
    margin-top: 1%;
}
.botonCompra{
    width: 20%;
    height: 10%;
    margin: 1%;
}

/* Publicidad */
.fifa{
    width: 60%;
    height: 3%;
    border: solid #b65c02;
    border-radius: 10px;
}

/* Página Compras */

.listaCompras{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* Compra */
.cartaCompra{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 3px solid #712300;
    border-radius: 10px;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ff9800;
    margin: 1%;
    overflow: hidden;
}
.tituloCarta{
    margin: 1%;
}
.divFoto{
    width: 100%;
    display: flex;
    justify-content: center;
}
.fotoCompra{
    margin: 1%;
    height: 10vw;
}
.descripcionCompra{
    border: 3px solid #712300;
    border-radius: 10px;
    margin: 1%;
    width: 90%;
    padding: 1%;
    background-color: #ffc548;
}
.precio{
    display: flex;
    align-content: bottom;
    display: flex;
    justify-content: center;
}
.precioCantidadAñadir{
    border: 3px solid #712300;
    border-radius: 10px;
    width: 90%;
    text-align: center;
    padding: 2%;
    margin: 1%;
    background-color: #ffc548;
}
.añadirCarrito{
    margin: 0% 1% 0% 1%;
    font-size: 1vw;
}
.cantidadGolosina{
    width: 40%;
    font-size: 1vw;
}

/* Publicidad */
.itemAside{
    display: flex;
    justify-content: center;
}
.fender{
    border: 7px solid #712300;
    border-radius: 20px;
    margin: 2%;
    height: 20%;
    width: 50%;
}

/* Página Novedades */
/* Grid - Página de Novedades */
.divNovedades{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
    "nov1 nov2"
    "nov3 nov4"
    ;
    justify-items: center;
    margin: 1%;
}
.itemNov1{
    grid-area: nov1;
    background-color: #ffc548;
    opacity: 0.93;
    border: #b65c02 solid 5px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    height: 85%;
    padding: 1%;
}
.itemNov2{
    grid-area: nov2;
    background-color: #ffc548;
    opacity: 0.93;
    border: #b65c02 solid 5px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    height: 85%;
    padding: 1%;
}
.itemNov3{
    grid-area: nov3;
    background-color: #ffc548;
    opacity: 0.93;
    border: #b65c02 solid 5px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    height: 85%;
    padding: 1%;
}
.itemNov4{
    grid-area: nov4;
    background-color: #ffc548;
    opacity: 0.93;
    border: #b65c02 solid 5px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    height: 85%;
    padding: 1%;
}
.h2Nov{
    font-family: "Montserrat";
    font: bold;
    font-size: 2vw;
}
.h3Nov{
    font-family: "Montserrat";
    font-size: 1.5vw;
    text-decoration: underline wavy;
    margin: 15px;
    display: flex;
    justify-content: center;
}
.imgNov{
    width: 50%;
    height: 30%;
    display: flex;
    align-items: center;
    animation-name: golosina;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
.divPadrevideo{
    width: 100%;
    display: flex;
    justify-content: center;
}
.itemVideo1{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #ffc548;
    border: #b65c02 solid 5px;
    border-radius: 20px;
    padding: 1%;
    margin: 1%;
    width: 80%;
}
.itemVideo2{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #ffc548;
    border: #b65c02 solid 5px;
    border-radius: 20px;
    padding: 1%;
    width: 80%;
}
.pNov{
    font-family: "Montserrat";
    font-size: x-large;
    font-style: oblique;
    text-decoration: underline;
    margin: 5px;
}
.videoNov{
    width: 90%;
    height: 35vw;
    margin: 1%;
}
@keyframes golosina {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/* Compra Falsa */
.divPadrecomprafalsa{
    width: 100%;
    display: flex;
    justify-content: center;
}
.compraFalsa{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffc548;
    width: 60%;
    height: 80%;
    margin: 2%;
    border: #b65c02 solid 3px;
    border-radius: 20px;
    padding: 1%;
    display: flex;
    align-items:center;
    flex-direction: column;
}
.btn{
    width: 30%;
}

/* Publicidad */
.netflix{
    width: 50%;
    border: solid #712300 5px;
    border-radius: 10px;
    margin: 0.5%;
}

/* Página Contacto */
.formularioContacto{
    width: 100%;
    display: flex;
    justify-content: center;
}
.formulario{
    border: 4px solid #712300;
    border-radius: 10px;
    padding: 2%;
    margin: 1%;
    background-color: #ffc548;
    width: 80%;
}
.btnForm{
    border: #b65c02 solid 2px;
}
.boton{
    padding: 1%;
    width: 8.5%;
    margin-left: 1%;
}
.divPadrefinal{
    width: 100%;
    display: flex;
    justify-content: center;
}
.divFinal{
    background-color: #ffc548;
    border: #712300 solid 3px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    margin: 2%;
    width: 80%;
    height: 10vw;
}

/* MEDIA QUERIES*/

/* Media 1200px*/

@media only screen and (max-width: 1200px){
    .tabla{
        font-size: small;
    }
    .pNov{
        font-size: large;
    }
}

/* Media 1000px*/

@media only screen and (max-width: 1000px){
    .sandias{
        width: 40vw;
    }
    .milkaoreo{
        width: 40vw;
    }
    .tabla{
        font-size: x-small;
        font-weight: bold;
    }
}

/* Media 900px*/

@media only screen and (max-width: 900px){
    .fotosBanner{
        width: 90%;
    }
    .banner{
        width: 100%;
    }
    .divPadreImgindex{
        width: 40vw;
        display: flex;
        justify-content: center;
        overflow: hidden;
    }
    .carrito{
        font-size: small;
    }
    .botonCanva{
        font-size: small;
        padding: 0.5vw;
        margin-bottom: 1%;
    }
    .cartaCompra{
        width: 40%;
    }
    .cantidadGolosina{
        font-size: 1.5vw;
    }
    .añadirCarrito{
        font-size: 1.5vw;
    }
}

/* Media 800px*/

@media only screen and (max-width: 800px){
    .tabla{
        font-size: xx-small;
    }
    .h3Rank{
        font-size: medium;
    }
    .divPexplicacion{
        font-size: small;
    }
    .botonCanva{
        font-size: x-small;
    }
    .h5Canvas{
        font-size: small;
    }
    .h2Nov{
        font-size: 2.1vw;
    }
    .h3Nov{
        font-size: 2.1vw;
    }
    .pNov{
        font-size: 2vw;
    }
}

/* Media 682px*/

@media only screen and (max-width: 682px){
    .sandias{
        width: 35vw;
    }
    .milkaoreo{
        width: 35vw;
    }
    .fotosBanner{
        width: 80%;
    }
    .banner{
        width: 100%;
    }
    .psandias{
        font-size: small;
    }
    .pmilka{
        font-size: small;
    }
    .carritoImg{
        width: 50%;
    }
    .compra{
        font-size: x-small;
    }
    .divTabla{
        height: 50vw;
    }
    .tabla{
        overflow: scroll;
        padding: 0%;
        font-size: 1.2vw;
    }
    .h3Selva{
        font-size: small;
    }
    .divExplicacion{
        width: 80%;
    }
    .h3Rank{
        font-size: small;
    }
    .divPexplicacion{
        font-size: x-small;
    }
    .divCanvas{
        width: 80%;
        height: 12vw;
    }
    .botonCanva{
        font-size: xx-small;
    }
    .fotoCompra{
        height: 15vw;
    }
    .compraFalsa{
        width: 80%;
    }
    .h2Nov{
        font-size: 2.1vw;
        margin-top: 1%;
        padding: 0.5vw;
        text-align: center;
    }
    .h3Nov{
        font-size: 2.1vw;
    }
}

/* Media 545px*/

@media only screen and (max-width: 545px){
    .divPadrep{
        height: 30vw;
        overflow: scroll;
    }
    h2{
        font-size: medium;
    }
    .logo{
        height: 15vw;
        width: 15vw;
    }
    .compra{
        font-size: 1.7vw;
    }
    .redesSociales{
        flex-wrap: nowrap;
    }
    .copyright{
        width: 30%;
        margin-left: 3px;
        font-size: 2vw;
    }
    .fa{
        padding: 5vw;
    }
    .cartaCompra{
        width: 80%;
    }
    .fotoCompra{
        height: 30vw;
    }
    .cantidadGolosina{
        font-size: 2.5vw;
    }
    .añadirCarrito{
        font-size: 2.5vw;
    }
    .itemNov1{
        height: 70vw;
        margin-bottom: 5%;
    }
    .itemNov2{
        height: 70vw;
        margin-bottom: 5%;
    }
    .itemNov3{
        height: 70vw;
        margin-bottom: 5%;
    }
    .itemNov4{
        height: 70vw;
        margin-bottom: 5%;
    }
}

/* Media 450px*/
@media only screen and (max-width: 450px){
    .formulario{
        font-size: small;
    }
    .form-control{
        font-size: x-small;
    }
    .form-select{
        font-size: x-small;
    }
    .input-group-text{
        font-size: x-small;
    }
    .btnForm{
        font-size: small;
    }
}

/* Media 410px*/
@media only screen and (max-width: 410px){
    .h5Canvas{
        font-size: x-small;
    }
    .divExplicacion{
        width: 95%;
        padding: 10px;
    }
    .divTop1{
        width: 70%;
    }
    .divCanvas{
        height: 15vw;
    }
    .btn-Compra{
        font-size: small;
    }
}

/* Media 320px*/

@media only screen and (max-width: 320px){
    .navP{
        font-size: small;
    }
    .nav-link{
        font-size: x-small;
    }
    .dropdown-item{
        font-size: x-small;
    }
    .cantidadGolosina{
        font-size: 3vw;
    }
    .añadirCarrito{
        font-size: 3vw;
    }
}